@media screen and (max-width: 100px) and (orientation: portrait) {
    .tittleNav{
        font-size: 7vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
    }
    .textNav{
        font-size: 3vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
    }
    .tittleSedes{
        font-size: 10vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
    }
    .textSedes{
        font-size: 8vw;
        word-wrap: break-word;
        left: 0%;
        padding: 0px;
        margin: 0px;
    }
    .tittleMessage{
        font-size: 7vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
    }
    .textDataMessage{
        font-size: 4.5vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
    }    
    .btnDataMessage{
        font-size: 8vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
    }    
    .tittleAnswer{
        font-size: 8vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
    }
    .textAnswer{
        font-size: 4vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
    }
    .btnAnswer{
        font-size: 7vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
    }
    .tittleCargo{
        font-size: 8vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
    }
    .textCargos{
        font-size: 3.5vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
    }
    .btnExitCargos{
        font-size: 8vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
    }
    .tittleCode{
        font-size: 7.5vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
    }
    .txtCode{
        font-size: 5vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
    }
    .btnCode{
        font-size: 7vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
    }
    .tittleRegister{
        font-size: 8vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
    }
    .btnRegister{
        font-size: 7vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
    }
    .tittleNewVocero{
        font-size: 8vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
        top: 30%;
    }
    .textNewVocero{
        font-size: 8vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
    }
    .btnNewVocero{
        font-size: 7vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
    }
    .tittleNewRepre{
        font-size: 6vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
        top: 30%;
    }
    .textNewRepre{
        font-size: 7vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
    }
    .btnNewRepre{
        font-size: 6vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
        top: 30%;
    }
    .tittleViewMessage{
        font-size: 6vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
        top: 30%;
    }
    .textViewMessage{
        font-size: 7vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
    }
    .btnViewMessage{
        font-size: 6vw;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
        top: 30%;
    }
}